.about-intro {
  margin-top: 50px; }
  .about-intro .about-image {
    border-radius: 25px;
    background-image: url("../img/me.jpg");
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.story, .mission {
  margin-top: 40px; }
